In [1]:
import pandas as pd
import os

In [2]:
parquet_list = []
for file in os.listdir():
    if file.endswith(".parquet"):
        parquet_list.append(file)
        print(parquet_list)

['green_tripdata_2025-11.parquet']

In [3]:
dfs = {}
for parquet in parquet_list:
    dfs[f"{parquet.removesuffix(".parquet")}_df"] = pd.read_parquet(parquet)
    print("Done!")

Done!

In [4]:
dfs['green_tripdata_2025-11_df'].head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.0
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.0
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.0
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.0

In [38]:
dfs['green_tripdata_2025-11_df'].shape

(46912, 21)

In [32]:
dfs['green_tripdata_2025-11_df'].dtypes

VendorID                          int32
lpep_pickup_datetime     datetime64[us]
lpep_dropoff_datetime    datetime64[us]
store_and_fwd_flag               object
RatecodeID                      float64
PULocationID                      int32
DOLocationID                      int32
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
cbd_congestion_fee              float64
dtype: object

In [34]:
dfs['green_tripdata_2025-11_df'].describe()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
count,46912.000000,46912,46912,41343.000000,46912.000000,46912.000000,41343.000000,46912.000000,46912.000000,46912.000000,46912.000000,46912.000000,46912.000000,0.0,46912.000000,46912.000000,41343.000000,41342.000000,41343.000000,46912.000000
mean,2.240621,2025-11-15 20:09:38.177417,2025-11-15 20:30:49.202123,1.245193,97.521849,143.066678,1.290666,27.581932,17.260303,0.796294,0.556329,2.629329,0.273442,NaN,0.930615,25.193228,1.246209,1.055416,0.884061,0.064893
min,1.000000,2025-10-26 20:23:16,2025-10-26 20:31:18,1.000000,1.000000,1.000000,0.000000,0.000000,-150.000000,-2.500000,-0.500000,-0.900000,0.000000,NaN,-1.000000,-151.000000,1.000000,1.000000,-2.750000,-0.750000
25%,2.000000,2025-11-08 13:15:22.250000,2025-11-08 13:33:41,1.000000,74.000000,75.000000,1.000000,1.280000,9.000000,0.000000,0.500000,0.000000,0.000000,NaN,1.000000,14.840000,1.000000,1.000000,0.000000,0.000000
50%,2.000000,2025-11-15 18:51:45,2025-11-15 19:08:39.500000,1.000000,75.000000,140.000000,1.000000,2.070000,13.500000,0.000000,0.500000,2.080000,0.000000,NaN,1.000000,20.300000,1.000000,1.000000,0.000000,0.000000
75%,2.000000,2025-11-22 17:53:09.250000,2025-11-22 18:13:35.500000,1.000000,116.000000,230.000000,1.000000,3.660000,19.800000,1.000000,0.500000,3.920000,0.000000,NaN,1.000000,29.620000,1.000000,1.000000,2.750000,0.000000
max,6.000000,2025-12-01 20:29:00,2025-12-01 20:44:42,99.000000,265.000000,265.000000,9.000000,172273.800000,990.000000,10.000000,1.500000,122.100000,108.000000,NaN,1.000000,991.000000,5.000000,2.000000,2.750000,0.750000
std,1.169630,NaN,NaN,1.062821,56.622102,77.362396,0.897942,1386.578884,17.284706,1.364010,0.319524,3.411468,1.512830,NaN,0.233187,19.312283,0.460969,0.228793,1.285098,0.211081

## Question 3. Counting short trips

For the trips in November 2025 (lpep_pickup_datetime between '2025-11-01' and '2025-12-01', exclusive of the upper bound), how many trips had a `trip_distance` of less than or equal to 1 mile?

In [50]:
november_trips = dfs['green_tripdata_2025-11_df'][dfs['green_tripdata_2025-11_df']['lpep_pickup_datetime'].between('2025-11-01','2025-12-01',inclusive='left')]
november_trips

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.20,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.00
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.20,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.00
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.50,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.00
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.70,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.00
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.40,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46907,2,2025-11-30 19:58:34,2025-11-30 20:14:28,None,NaN,59,51,NaN,8.50,33.22,...,0.5,0.00,0.0,NaN,1.0,34.72,NaN,NaN,NaN,0.00
46908,2,2025-11-30 19:34:00,2025-11-30 19:46:00,None,NaN,74,151,NaN,1.73,13.86,...,0.5,0.77,0.0,NaN,1.0,16.13,NaN,NaN,NaN,0.00
46909,2,2025-11-30 21:46:46,2025-11-30 22:17:55,None,NaN,33,163,NaN,7.52,38.42,...,0.5,1.00,0.0,NaN,1.0,44.42,NaN,NaN,NaN,0.75
46910,2,2025-11-30 21:00:00,2025-11-30 21:15:00,None,NaN,16,95,NaN,5.61,24.67,...,0.5,0.00,0.0,NaN,1.0,26.17,NaN,NaN,NaN,0.00
46911,2,2025-11-30 23:26:00,2025-11-30 23:42:00,None,NaN,65,87,NaN,2.91,14.46,...,0.5,3.89,0.0,NaN,1.0,23.35,NaN,NaN,NaN,0.75

In [57]:
trips_with_less_or_equal_1_mile = november_trips[november_trips['trip_distance']<=1]
trips_with_less_or_equal_1_mile

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.20,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.0,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.20,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.0,0.0
8,2,2025-11-01 00:03:08,2025-11-01 00:06:27,N,1.0,223,223,1.0,0.63,5.10,...,0.5,1.52,0.0,NaN,1.0,9.12,1.0,1.0,0.0,0.0
11,2,2025-11-01 00:02:26,2025-11-01 00:02:31,N,5.0,93,93,1.0,0.00,28.00,...,0.0,5.80,0.0,NaN,1.0,34.80,1.0,2.0,0.0,0.0
14,2,2025-11-01 00:05:40,2025-11-01 00:05:45,N,5.0,244,244,1.0,0.00,9.50,...,0.0,2.10,0.0,NaN,1.0,12.60,1.0,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46789,6,2025-11-29 14:02:50,2025-11-29 14:08:07,None,NaN,188,188,NaN,0.95,2.90,...,0.5,0.00,0.0,NaN,0.3,16.00,NaN,NaN,NaN,0.0
46809,1,2025-11-29 17:02:56,2025-11-29 17:09:35,None,NaN,41,42,NaN,0.80,7.90,...,0.5,0.00,0.0,NaN,1.0,9.40,NaN,NaN,NaN,0.0
46824,2,2025-11-29 21:43:00,2025-11-29 21:52:00,None,NaN,145,226,NaN,0.00,13.02,...,0.5,4.36,0.0,NaN,1.0,18.88,NaN,NaN,NaN,0.0
46854,6,2025-11-30 10:30:57,2025-11-30 10:36:22,None,NaN,10,215,NaN,0.79,0.00,...,0.5,0.00,0.0,NaN,0.3,16.00,NaN,NaN,NaN,0.0
46876,6,2025-11-30 13:06:21,2025-11-30 13:11:39,None,NaN,7,260,NaN,0.67,5.80,...,0.5,0.00,0.0,NaN,0.3,16.00,NaN,NaN,NaN,0.0

In [58]:
print(f"Count of November trips with less than or equal to 1 mile : {trips_with_less_or_equal_1_mile.shape[0]}")

Count of November trips with less than or equal to 1 mile : 8007

## Question 4. Longest trip for each day

Which was the pick up day with the longest trip distance? Only consider trips with `trip_distance` less than 100 miles (to exclude data errors).

Use the pick up time for your calculations.

In [61]:
trips_less_than_100_miles = dfs['green_tripdata_2025-11_df'][dfs['green_tripdata_2025-11_df']['trip_distance'] < 100]
trips_less_than_100_miles

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.20,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.00
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.20,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.00
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.50,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.00
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.70,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.00
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.40,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46907,2,2025-11-30 19:58:34,2025-11-30 20:14:28,None,NaN,59,51,NaN,8.50,33.22,...,0.5,0.00,0.0,NaN,1.0,34.72,NaN,NaN,NaN,0.00
46908,2,2025-11-30 19:34:00,2025-11-30 19:46:00,None,NaN,74,151,NaN,1.73,13.86,...,0.5,0.77,0.0,NaN,1.0,16.13,NaN,NaN,NaN,0.00
46909,2,2025-11-30 21:46:46,2025-11-30 22:17:55,None,NaN,33,163,NaN,7.52,38.42,...,0.5,1.00,0.0,NaN,1.0,44.42,NaN,NaN,NaN,0.75
46910,2,2025-11-30 21:00:00,2025-11-30 21:15:00,None,NaN,16,95,NaN,5.61,24.67,...,0.5,0.00,0.0,NaN,1.0,26.17,NaN,NaN,NaN,0.00
46911,2,2025-11-30 23:26:00,2025-11-30 23:42:00,None,NaN,65,87,NaN,2.91,14.46,...,0.5,3.89,0.0,NaN,1.0,23.35,NaN,NaN,NaN,0.75

In [85]:
day_with_longest_trip_distance = trips_less_than_100_miles.sort_values(by='trip_distance',ascending=False).iloc[0:1]
day_with_longest_trip_distance

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
18867,2,2025-11-14 15:36:27,2025-11-14 18:40:48,N,4.0,130,265,2.0,88.03,610.6,...,0.5,0.0,0.0,NaN,1.0,612.1,2.0,1.0,0.0,0.0

In [96]:
print(f"The pick up day with longest trip distance was : {day_with_longest_trip_distance['lpep_pickup_datetime'].dt.date.squeeze()}")

The pick up day with longest trip distance was : 2025-11-14

## Question 5. Biggest pickup zone

Which was the pickup zone with the largest `total_amount` (sum of all trips) on November 18th, 2025?

In [109]:
november_18th_trips = dfs['green_tripdata_2025-11_df'][dfs['green_tripdata_2025-11_df']['lpep_pickup_datetime'].dt.date.astype(str) == '2025-11-18']
november_18th_trips

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
22419,2,2025-11-18 08:07:00,2025-11-18 08:19:15,N,1.0,74,75,1.0,1.40,12.10,...,0.5,3.40,0.00,NaN,1.0,17.00,1.0,1.0,0.00,0.00
22420,2,2025-11-18 08:19:54,2025-11-18 08:29:08,N,1.0,75,236,1.0,1.33,10.00,...,0.5,2.85,0.00,NaN,1.0,17.10,1.0,1.0,2.75,0.00
22421,2,2025-11-18 08:42:22,2025-11-18 08:53:49,N,1.0,74,236,1.0,1.97,12.10,...,0.5,3.27,0.00,NaN,1.0,19.62,1.0,1.0,2.75,0.00
22528,2,2025-11-18 09:08:07,2025-11-18 09:14:44,N,1.0,74,166,1.0,0.86,7.90,...,0.5,1.60,0.00,NaN,1.0,11.00,1.0,1.0,0.00,0.00
22529,2,2025-11-18 09:37:57,2025-11-18 09:52:39,N,1.0,74,116,1.0,2.16,15.60,...,0.5,5.13,0.00,NaN,1.0,22.23,1.0,1.0,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44825,6,2025-11-18 20:42:28,2025-11-18 21:30:50,None,NaN,236,123,NaN,16.14,2.90,...,0.5,0.00,6.94,NaN,0.3,46.87,NaN,NaN,NaN,0.00
44826,6,2025-11-18 20:50:43,2025-11-18 22:03:03,None,NaN,263,61,NaN,12.55,2.90,...,0.5,0.00,0.00,NaN,0.3,42.40,NaN,NaN,NaN,0.00
44827,2,2025-11-18 20:25:00,2025-11-18 20:50:00,None,NaN,244,249,NaN,8.54,40.07,...,0.5,9.01,0.00,NaN,1.0,54.08,NaN,NaN,NaN,0.75
44828,2,2025-11-18 22:38:00,2025-11-18 22:47:00,None,NaN,166,74,NaN,1.76,16.44,...,0.5,3.59,0.00,NaN,1.0,21.53,NaN,NaN,NaN,0.00
44829,2,2025-11-18 22:21:00,2025-11-18 22:34:00,None,NaN,97,148,NaN,2.66,20.77,...,0.5,3.61,0.00,NaN,1.0,29.38,NaN,NaN,NaN,0.75

In [117]:
pickup_zones_with_total_amount = november_18th_trips.groupby(by='PULocationID',as_index=False)['total_amount'].sum()
pickup_zones_with_total_amount

     PULocationID  total_amount
0               7        343.60
1              10         87.24
2              14         53.83
3              15         39.50
4              17        110.25
..            ...           ...
132           261         34.37
133           262         26.78
134           263         71.53
135           264         18.80
136           265         61.00

[137 rows x 2 columns]

In [120]:
pickup_zone_with_highest_amount = pickup_zones_with_total_amount.sort_values(by='total_amount',ascending=False).iloc[0:1]
pickup_zone_with_highest_amount

    PULocationID  total_amount
39            74       9281.92

In [5]:
zone_df = pd.read_csv('taxi_zone_lookup.csv')
zone_df

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [126]:
location_id_of_pickup_zone = pickup_zone_with_highest_amount['PULocationID'].squeeze()
location_id_of_pickup_zone

np.int32(74)

In [128]:
pickup_zone_with_highest_amount = zone_df[zone_df['LocationID'] == location_id_of_pickup_zone]
pickup_zone_with_highest_amount

    LocationID    Borough               Zone service_zone
73          74  Manhattan  East Harlem North    Boro Zone

In [130]:
print(f"The pickup zone with the largest total amount (sum of all trips) on November 18th, 2025 is : {pickup_zone_with_highest_amount['Zone'].squeeze()}")

The pickup zone with the largest total amount (sum of all trips) on November 18th, 2025 is : East Harlem North

## Question 6. Largest tip

For the passengers picked up in the zone named "East Harlem North" in November 2025, which was the drop off zone that had the largest tip?

Note: it's `tip` , not `trip`. We need the name of the zone, not the ID.

In [15]:
east_harlem_north_location_id = zone_df[zone_df['Zone'] == 'East Harlem North']['LocationID'].squeeze()
east_harlem_north_location_id

np.int64(74)

In [18]:
passengers_picked_up_in_east_harlem_north = dfs['green_tripdata_2025-11_df'][dfs['green_tripdata_2025-11_df']['PULocationID'] == east_harlem_north_location_id]
passengers_picked_up_in_east_harlem_north

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.20,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.20,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.0
24,2,2025-11-01 00:38:13,2025-11-01 00:55:47,N,1.0,74,262,1.0,3.40,19.80,...,0.5,2.00,0.0,NaN,1.0,27.05,1.0,1.0,2.75,0.0
53,2,2025-11-01 00:20:44,2025-11-01 00:27:05,N,1.0,74,74,1.0,0.78,7.90,...,0.5,0.00,0.0,NaN,1.0,10.40,1.0,1.0,0.00,0.0
62,2,2025-10-31 23:58:40,2025-11-01 00:26:34,N,1.0,74,265,1.0,16.25,61.80,...,0.5,1.00,0.0,NaN,1.0,65.30,1.0,1.0,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46896,2,2025-11-30 16:50:21,2025-11-30 17:08:49,None,NaN,74,151,NaN,2.41,19.81,...,0.5,3.20,0.0,NaN,1.0,24.51,NaN,NaN,NaN,0.0
46898,2,2025-11-30 16:15:00,2025-11-30 16:27:00,None,NaN,74,263,NaN,1.99,15.34,...,0.5,3.92,0.0,NaN,1.0,23.51,NaN,NaN,NaN,0.0
46899,2,2025-11-30 16:26:00,2025-11-30 16:44:00,None,NaN,74,167,NaN,2.75,8.22,...,0.5,0.00,0.0,NaN,1.0,9.72,NaN,NaN,NaN,0.0
46906,2,2025-11-30 18:31:00,2025-11-30 18:52:00,None,NaN,74,142,NaN,3.84,27.23,...,0.5,4.41,0.0,NaN,1.0,35.89,NaN,NaN,NaN,0.0
46908,2,2025-11-30 19:34:00,2025-11-30 19:46:00,None,NaN,74,151,NaN,1.73,13.86,...,0.5,0.77,0.0,NaN,1.0,16.13,NaN,NaN,NaN,0.0

In [32]:
passengers_picked_up_in_east_harlem_north_november = passengers_picked_up_in_east_harlem_north[passengers_picked_up_in_east_harlem_north['lpep_pickup_datetime'].between('2025-11-01','2025-12-01',inclusive='left')]
passengers_picked_up_in_east_harlem_north_november

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.20,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.20,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.0
24,2,2025-11-01 00:38:13,2025-11-01 00:55:47,N,1.0,74,262,1.0,3.40,19.80,...,0.5,2.00,0.0,NaN,1.0,27.05,1.0,1.0,2.75,0.0
53,2,2025-11-01 00:20:44,2025-11-01 00:27:05,N,1.0,74,74,1.0,0.78,7.90,...,0.5,0.00,0.0,NaN,1.0,10.40,1.0,1.0,0.00,0.0
68,2,2025-11-01 00:20:37,2025-11-01 00:24:42,N,1.0,74,41,1.0,0.77,6.50,...,0.5,0.00,0.0,NaN,1.0,9.00,2.0,1.0,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46896,2,2025-11-30 16:50:21,2025-11-30 17:08:49,None,NaN,74,151,NaN,2.41,19.81,...,0.5,3.20,0.0,NaN,1.0,24.51,NaN,NaN,NaN,0.0
46898,2,2025-11-30 16:15:00,2025-11-30 16:27:00,None,NaN,74,263,NaN,1.99,15.34,...,0.5,3.92,0.0,NaN,1.0,23.51,NaN,NaN,NaN,0.0
46899,2,2025-11-30 16:26:00,2025-11-30 16:44:00,None,NaN,74,167,NaN,2.75,8.22,...,0.5,0.00,0.0,NaN,1.0,9.72,NaN,NaN,NaN,0.0
46906,2,2025-11-30 18:31:00,2025-11-30 18:52:00,None,NaN,74,142,NaN,3.84,27.23,...,0.5,4.41,0.0,NaN,1.0,35.89,NaN,NaN,NaN,0.0
46908,2,2025-11-30 19:34:00,2025-11-30 19:46:00,None,NaN,74,151,NaN,1.73,13.86,...,0.5,0.77,0.0,NaN,1.0,16.13,NaN,NaN,NaN,0.0

In [38]:
dropoff_zone_with_largest_tip_amount = passengers_picked_up_in_east_harlem_north_november.sort_values(by="tip_amount",ascending=False).iloc[0:1]
dropoff_zone_with_largest_tip_amount

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
40883,2,2025-11-30 16:30:27,2025-11-30 16:41:29,N,1.0,74,263,1.0,2.63,14.2,...,0.5,81.89,0.0,NaN,1.0,100.34,1.0,1.0,2.75,0.0

In [39]:
dropoff_zone_with_largest_tip_amount_full_details = zone_df[zone_df['LocationID'] == dropoff_zone_with_largest_tip_amount['DOLocationID'].squeeze()]
dropoff_zone_with_largest_tip_amount_full_details

     LocationID    Borough            Zone service_zone
262         263  Manhattan  Yorkville West  Yellow Zone

In [42]:
print(f"For the passengers picked up in the zone named `East Harlem North` in November 2025, the drop off zone that had the largest tip was : {dropoff_zone_with_largest_tip_amount_full_details['Zone'].squeeze()}")

For the passengers picked up in the zone named `East Harlem North` in November 2025, the drop off zone that had the largest tip was : Yorkville West